.container {
  display: flex;
  height: 80vh;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
}

/* SIDEBAR */
.sidebar {
  width: 30%;
  border-right: 1px solid #5e5c5c;
  padding: 10px;
}

.user {
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.user:hover {
  background: #f5f5f5;
}

.active {
  background: #ffe8d6; /* brand soft */
}

/* CHAT */
.chat {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  font-family: "Roboto",sans-serif;
}

/* MESSAGES */
.messages {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sent {
  align-self: flex-end;
    font-family: "Roboto",sans-serif;
  background: #ff7a00;
  color: white;
  padding: 10px;
  border-radius: 12px;
}

.received {
  align-self: flex-start;
  background: #f1f1f1;
    font-family: "Roboto",sans-serif;
  padding: 10px;
  border-radius: 12px;
}

/* INPUT */
.inputArea {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
}

.inputArea input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.inputArea button {
  margin-left: 10px;
  background: #ff7a00;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
}