.sidebar {
  width: 260px;
  height: 100vh;
  padding: 30px 22px;
  background: linear-gradient(180deg, #fff3e8 0%, #fbfbfb 100%);
  border-right: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.02);

  
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #111;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 35px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex: 1;              
}


.navItem {
  display: flex;
  align-items: center;
  font-family: "Arimo", sans-serif;
  gap: 28px;
  padding: 12px 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 14px;
  font-weight: 500;
  color: #484848;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}


.navItem:hover {
  background: #f6f6f6;
  color: #111;
  transform: translateX(6px);
}


.active {
  background: linear-gradient(90deg, #fff1e6, #fff7f2);
  color: #ff7a00;
  font-weight: 600;
   font-family: "Arimo", sans-serif;
   box-shadow: 0 8px 20px rgba(255, 122, 0, 0.08);
   border-right: 1px solid;
   
}


.icon {
   width: 16px;
    height: 19px; 
    background: linear-gradient(90deg, #94521f09, #fff7f20e);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333232;
  transition: all 0.25s ease;
}


.iconActive {
    width: 36px;
    height: 36px; 
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(255, 122, 0, 0.3);
  color: #ff7a00;
}


.advert {
  margin-top: 5px; 
  padding: 22px;
  border-radius: 16px;
  background: linear-gradient(145deg, #ff7a00, #ffb347);
  color: white;
box-shadow: 0 18px 35px rgba(225, 122, 0, 0.08);
  font-size: 13px;

  h3{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
  }

  p{
    font-size: 13px;
    opacity: 0.9;
    font-family: "Arimo", sans-serif;

  }

  button{
    background: white;
    color: #ff7a00;
    border: none;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 12px;
     font-family: "Arimo", sans-serif;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    
    transition: 0.25s ease;
  }
}
 .advert:hover{
    transform: rotateY(-6px);
  }

  /* 📱 TABLET */
@media (max-width: 1024px) {
  .sidebar {
    width: 220px;
    padding: 24px 16px;
  }

  .navItem {
    gap: 18px;
    padding: 10px 12px;
  }

  .logo {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 260px;
    height: 100vh;
    z-index: 1000;
    transition: 0.3s ease;
  }

  .open {
    left: 0;
  }

   .sidebar.activeMobile {
    left: 0;
  }

  /* DARK OVERLAY */
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 900;
  }
}



/* 📱 SMALL MOBILE */
@media (max-width: 480px) {
  .sidebar {
    width: 200px;
    padding: 20px 12px;
  }

  .navItem {
    font-size: 13px;
    gap: 14px;
  }

  .logo {
    font-size: 20px;
  }
}