.rightbar {
  background: linear-gradient(180deg, #fff3e8 0%, #fbfbfb 100%);
 min-height: 100vh; 
  padding: 25px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-left: 1px solid #eee;
  overflow-y: auto;
  flex-shrink: 0;
  width: 320px;
}

/* 📱 TABLET */
@media (max-width: 1024px) {
  .rightbar {
    width: 280px;
    padding: 20px;
    gap: 20px;
  }
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .rightbar {
    height: auto; /* 🔥 VERY IMPORTANT */
    min-height: 100vh;

    padding: 18px;
    gap: 18px;

    border-left: none;

  }
}