.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 15px;
  color: #333;
}

.profile {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  object-fit: cover;
}